* {
        padding: 0;
        margin: 0;
        font-family: 'Microsoft Yahei'
    }
    .container {
        background: #EDEDEF;
        margin: 0 auto;
       
    }
    .layout {
        width: 1100px;
        margin: 0 auto;
        
    }
    a {
        text-decoration: none;
    }
    .clearfix:after {
        content: '';
        display: block;
        clear: both;
    }
    ul, li {
        list-style: none;
    }
    
    .actions span {
        display: inline-block;
        margin-right: 10px;
    }
    .main {
        width: 700px;
        float: left;
    }
    .content {
        margin-top: 20px;
    }
     /*顶部栏*/
    .search {
        background: #fff;
        border-bottom: 1px solid #e7eaf1;
        height: 55px;
        padding: 0 20px;
        position: relative;

    }
    .search .title {
        line-height: 52px;
        color: #0F88EB;
        position: absolute;
        left: 100px;
        letter-spacing: 4px;

    }
    /*顶部的搜索框*/
    .search-bar {
        width: 340px;
        transition: all 0.3ms;
        background: #f7f8fa;
        height: 40px;
        line-height: 34px;
        border-style: none;
        border: 1px solid #ccc;
        top: 7px;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 10px;
        transition: all 0.3s;
    }
    .search-button {
        display: inline-block;
        margin-left: 30px;
        margin-top: 10px;
        padding: 8px 10px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        color: #000;
    }
    .search-bar:focus {
        width: 400px;
        border: 1px solid #0F88EB;
    }
    .include-searchbar {
        padding-top: 6px;
        float: left;
        position: relative;
        
        margin-left: 205px;
    }
    .icon-search {
        position: absolute;
        top: 17px;
        right: 6px;
        color:#0F88EB;
    }
    .corner {
        display: inline-block;
        margin-left: 30px;
        color: #000;
    }
    .first {
        margin-left: 60px;
    }
    
    /*没有答案*/
   .noResult {
       background: url('../img/noResult.jpg');
       background-size: cover;
       min-height: 600px;
       text-align: center;
       padding-top: 50px;
   }
   .bigger-button {
       display: inline-block;
       background: #0F88EB;
       padding: 20px 50px;
       font-size: 20px;
       color: white;
       margin-top: 40px;
       border: 1px solid;

   }